body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../src/assets/background-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');
.game-container {
  display: grid;
  margin: 5vh;
  grid-row-gap: 10vh;
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust as needed, e.g., 400, 700 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
  justify-content: center;
  align-content: space-between;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
}

.score-panel {
  display: grid;
  justify-items: center;
}

#score {
  font-size: 2rem;
}

.game-round-panel {
  display: grid;
  justify-items: center;
}

#game-round {
  font-size: 2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
.word {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 5rem + 8vw, 5rem);
}

.input-cell {
  border: None;
  height: 4rem;
  width: 4rem;
  background-color: #dcdcdc;
  border-radius: 1vh;
  margin: 1vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "DynaPuff", system-ui;
  font-size: 3rem;
  text-align: center;
}

.input-cell:focus{
  outline:None
}

.input {
  display: flex; 
}

.word-input-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 10vh;
}

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');
#play-again-button, #confirm-button {
  border: None;
  background-color: transparent;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

#play-again-button {
  color: #34cb41;
}

#play-again-button:hover,#confirm-button:hover {
  color:#e3981c;
  font-size: 2.05rem;
  cursor:pointer;
}

#restart-button,#info-button {
  background-color: transparent;
  border:none;
}

.pop-up {
  z-index: 99999;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

#restart-button-image,#info-button-image {
  width: 80%;
  height: 80%;
}

#restart-button-image:hover,#info-button-image:hover {
  width: 75%;
  height: 75%;
  cursor: pointer;
}

.button-groups {
  display: grid;
  grid-auto-flow: column;
}

.game-status-overlay {
    position: fixed; 
    display: grid;  
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(240, 238, 238, 0.842); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    justify-content:center ;
    align-items: center;
}

.game-status-container {
  display: grid;
}

#game-status {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  z-index: 3;
  

}