
.dashboardContainer {
  display: flex;
  width: 50em;
  height: 5em;
  justify-content: space-between;
  align-items: center;
}

.scorePanel {
  display: grid;
  justify-items: center;
  width: 6em;
  height: 3em;
}

#score {
  font-size: 2em;
}

.gameRoundPanel {
  display: grid;
  justify-items: center;
  width: 6em;
  height: 3em;
}

#gameRound {
  font-size: 2em;
}

.buttonGroups {
  display: grid;
  grid-auto-flow: column;
  width: 6em;
  height: auto;
  position: relative;
  margin: 1em;
}

#restartButton, #infoButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#restartButtonImage, #infoButtonImage {
  width: 95%;
  height: 95%;
  object-fit: contain;
}

#restartButtonImage:hover, #infoButtonImage:hover {
  transform: scale(0.95);
  cursor: pointer;
}

