
.dashboardContainer {
  display: flex;
  justify-content: space-between;
}

.scorePanel {
  display: grid;
  justify-items: center;
  width: 6rem;
  height: 3rem;
}

#score {
  font-size: 2rem;
}

.gameRoundPanel {
  display: grid;
  justify-items: center;
  width: 6rem;
  height: 3rem;
}

#gameRound {
  font-size: 2rem;
}

.buttonGroups {
  display: grid;
  grid-auto-flow: column;
  width: 6rem;
  height: 3rem;
}

#restartButton, #infoButton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#restartButtonImage, #infoButtonImage {
  width: 95%;
  height: 95%;
  object-fit: contain;
}

#restartButtonImage:hover, #infoButtonImage:hover {
  transform: scale(0.95);
  cursor: pointer;
}

