.errorCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50em;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

#errorIcon {
  width: 15%; 
  height: auto;
}

#errorMessage {
  margin-top: 1.2em; 
  font-size: 1.2em; 
}
