@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');

.wordInputContainer {
  display: grid;
  grid-row-gap: 4em;
  justify-content: center;
  justify-items: center;
  width: 50em;
  height: auto;
}

.word {
  font-family: "Bungee Spice", sans-serif;
  font-size: 3em;
}

.inputContainer {
  display: flex; 
  width: 50em;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonContainer {
  width: 10em;
  height:2em;
}

#confirmButton {
  border: None;
  background-color: transparent;
  font-family: "Bungee", sans-serif;
  font-size: 2em;
}

#confirmButton:hover {
  color:#e3981c;
  transform: scale(0.95);
  cursor:pointer;
}