.gameStatusOverlay {
  position: fixed; 
  display: grid;  
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; 
  justify-content:center ;
  align-items: center;
}

.gameStatusContainer {
  display: grid;
}

#gameStatus {
  font-family: "Bungee Spice", sans-serif;
  font-size: 5rem;
  z-index: 3;
}

#playAgainButton {
  border: None;
  background-color: transparent;
  font-family: "Bungee", sans-serif;
  font-size: 2rem;
  color: #34cb41;
}

#playAgainButton:hover {
  color:#e3981c;
  font-size: 1.95rem;
  cursor:pointer;
}