.inputCell {
  border: None;
  height: 3rem;
  width: 3rem;
  background-color: #dcdcdc;
  border-radius: 1vh;
  margin: 1vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "DynaPuff", system-ui;
  font-size: 2rem;
  text-align: center;
}

.inputCell:focus{
  outline:None
}
